/* styles.css */
body {
    background: linear-gradient(to bottom, #00ff00, #ffffff);
    background-size: cover;
    background-attachment: fixed;
  }
  
  .content-wrapper, .main-sidebar, .main-header, .main-footer {
    background: transparent;
  }
  
  #map {
    height: 600px;
  }
  